<%= form_with(model: comment, id: "new_comment_form_#{dom_id(post)}", class: "w-full") do |f| %>
  <div data-controller="input-resize">
    <%= f.text_area :body,
        class: 'w-full py-2 pl-4 pr-10 text-sm bg-gray-100 border border-transparent appearance-none rounded-tg placeholder-gray-400 focus:bg-white focus:outline-none focus:border-blue-500 focus:text-gray-900 focus:shadow-outline-blue',
        style: 'border-radius: 25px',
        placeholder: 'Post a comment...',
        data: { action: 'input->input-resize#resize', input_resize_target: 'commentInput' }
    %>
  </div>
  <%= f.hidden_field :post_id, value: post.id %>
  <%= f.submit %>
<% end %>
